<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCW-bpsrlujFSbQz3h9cJXAjL9Iig9mgls</string>
	<key>GCM_SENDER_ID</key>
	<string>651190719612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kk.FoodDeliveryAppProject</string>
	<key>PROJECT_ID</key>
	<string>food-app-3dd8b</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-3dd8b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651190719612:ios:bfe7475434a25eb615a5f9</string>
</dict>
</plist>